$primary-color: #ffbc00;
$light-color: #f4f4f4;
$gray-color: #ccc;
$dark-color: #000;
$color1: #333;
$max-width: 1280px;
$font-family: 'Times New Roman', Times, serif;
$showcase-url: url('../dist/img/namprat_nyu.jpg');
